<!-- filepath: sections/banner.liquid -->
{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Banner Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "banner_subheading",
      "label": "Banner Subheading",
      "default": "Your Banner Subheading"
    },
    {
      "type": "url",
      "id": "banner_button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "banner_button_text",
      "label": "Button Text",
      "default": "Shop Now"
    }
  ]
}
{% endschema %}

<div class="banner">
<div class="top-bar">
   <h1>Tisso Vision</h1>
   <h3> Find the ideal gift for your loved ones</h3>
    <a href="{{ section.settings.banner_button_link }}" class="banner-button">{{ section.settings.banner_button_text }}</a>
</div>

<img id="frame2-img" src="{{ 'Frame2.svg' | asset_url }}" alt="Banner Image"  width="600" height="400">
  <div class="banner-container">
    <div class="banner-content">
        <h1>{{ section.settings.banner_heading }}</h1>
        <p>{{ section.settings.banner_subheading }}</p>
        <a href="{{ section.settings.banner_button_link }}" class="banner-button">{{ section.settings.banner_button_text }}</a>
    </div>
    <img id="frame1-img" src="{{ 'Frame1.png' | asset_url }}" alt="Banner Image" width="600" height="400">
   </div>
</div>

<style>
  .banner {
    position: relative;
    text-align: center;
    color: white;
  }
  #frame2-img {
    width: 100%;
    height: auto;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .banner-content p {
    color: black;
    text-align: left;
  }
  .banner-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;position: relative;
  }
  .banner-button::after {
    content: '→';
    margin-left: 10px;
    font-size: 16px;
  }
  .banner-button:hover {
    background-color: #333;
  }
  .banner-container {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
  }
  #frame1-img {
    width: 60%
  }
  .top-bar {
    color: rgb(var(--color-foreground));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
</style>