<!-- filepath: sections/banner.liquid -->
{% schema %}
{
  "name": "Banner",
  "settings": [
    {
        "type": "text",
        "id": "company_name",
        "label": "Top Bar Company Name",
        "default": "TISSO VISON"
      },
      {
        "type": "text",
        "id": "top_bar_announcement",
        "label": "Top Bar Announcement",
        "default": "Find the ideal gift for your loved ones"
      },
      {
        "type": "text",
        "id": "top_bar_button_text",
        "label": "Top Bar Button Text",
        "default": "CHOOSE GIFT"
      },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Banner Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "banner_subheading",
      "label": "Banner Subheading",
      "default": "Your Banner Subheading"
    },
    {
      "type": "url",
      "id": "banner_button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "banner_button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
        "type": "text",
        "id": "bottom_banner_text",
        "label": "Bottom Banner Text",
        "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
      }
  ]
}
{% endschema %}

  <div class="top-bar-mobile">
    <span class="more-options">&#9776;</span>
    <span class="top-bar-company-name">{{ section.settings.company_name }}</span>
  </div>
  <div class="top-bar-extra">
        <span class="top-bar-announcement">{{ section.settings.top_bar_announcement }}</span>
        <a href="#product-grid-section" class="top-bar-button">{{ section.settings.top_bar_button_text }}</a>
    </div>
  <div class="top-bar">
      <div class="top-bar-company-name">{{ section.settings.company_name }}</div>
      <div class="top-bar-announcement"> {{ section.settings.top_bar_announcement }}</div>
      <a href="#product-grid-section" class="top-bar-button">{{ section.settings.top_bar_button_text }}</a>
  </div>

<div class="banner">
<img id="frame2-img" src="{{ 'Frame2.svg' | asset_url }}" alt="Banner Image"  width="600" height="400">
  <div class="banner-container">
    <div class="banner-content">
        <h1>{{ section.settings.banner_heading }}</h1>
        <p>{{ section.settings.banner_subheading }}</p>
        <a href="{{ section.settings.banner_button_link }}" class="banner-button">{{ section.settings.banner_button_text }}</a>
    </div>
    <img id="frame1-img" src="{{ 'Frame1.png' | asset_url }}" alt="Banner Image" width="600" height="400">
   </div>
   <div class="banner-bottom-bar">
    <div class="banner-bottom-announcement">{{ section.settings.bottom_banner_text }}</div>
   </div>
</div>

<style>
  .banner-bottom-bar,
  .top-bar {
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

  .top-bar-extra,
  .top-bar-mobile{
    display: none;
  }
      
    .top-bar .top-bar-company-name {
        color: black;
        font-weight: 600;
        margin: 0 30px;
        font-size: 20px;
    }

    .banner-bottom-announcement,
    .top-bar-announcement {
        color: black;
        font-style: normal;
        font-size: 16px;
        line-height: 36px;
        /* identical to box height, or 84% */
        display: flex;
        align-items: center;
        text-align: center;
    }

    .top-bar-button {
        background: linear-gradient(to right, #000 50%, #FFF544 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        margin: 10px 30px;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        /* identical to box height, or 128% */
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;      
        text-decoration: none;
        padding: 0rem 1rem;
        color: #000000;
        padding: 0.5rem 1.5rem 0.5rem 3rem;
        transition: background-position 200ms ease-out;
    }


  .top-bar-button:hover {
    background-position: left bottom;
    color: white;
  }
   
        .top-bar-content {
          justify-content: center;
        }
        .more-options {
          cursor: pointer;
        }
        .top-bar-mobile {
          display: inline-block;
        }
        .top-bar-extra {
          display: none;
          flex-direction: column;
          align-items: center;
          margin-top: 10px;
        }
        .top-bar-extra.show {
          display: flex;
        }
      }
  .banner {
    position: relative;
    text-align: center;
    color: white;
  }
  .banner-content {
    min-width: 420px;
    padding-bottom: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .banner-content h1 {
    margin: 0px;
    font-size: 70px;
  }
  .banner-content p {
    font-size: 20px;
    color: black;
    text-align: left;
  }
  .banner-button {
        background: linear-gradient(to right, #FFF544 50%, #000 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        /* identical to box height, or 128% */
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;      
        text-decoration: none;
        padding: 0rem 1rem;
        color: white;
        padding: 0.5rem 1.5rem 0.5rem 3rem;
        transition: background-position 200ms ease-out;
    }


  .banner-button:hover {
    background-position: left bottom;
    color: black;
  }
  .top-bar-button::after,
  .banner-button::after {
    content: '→';
    margin-left: 10px;
    font-size: 16px;
  }
  #frame1-img {
    width: 60%
  }
 @media (max-width: 768px) {
    .top-bar {
      display: none;
    }

   #frame2-img {
        display: none;
    }

    #frame1-img {
        width: 100%;
    }

   .banner-container {
     display: block;
   }
 }

   @media (min-width: 769px) {
    .top-bar {
      display: flex;
    }
    .top-bar-mobile {
      display: none;
    }
    #frame2-img {
        width: 100%;
        height: fit-content;
      }
      #frame1-img {
        flex: 2;
        height: auto;
        object-fit: cover;
      }

    .banner-container {
      display: flex;
      justify-content: space-between;
      padding-left: 5rem;
    }
  }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var moreOptions = document.querySelector('.more-options');
      var topBarExtra = document.querySelector('.top-bar-extra');
  
      if (moreOptions) {
        moreOptions.addEventListener('click', function() {
          topBarExtra.classList.toggle('show');
        });
      }
    });
  </script>